* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url(img/gray-white-background.jpg);

}

.main-container {
  background-image: url(img/gray-white-background.jpg);
  /* background-repeat: repeat; */
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  text-decoration: none;
}

.row h2 {
  justify-content: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.card-tab {
  border-style: solid;
  border-color: black;
  padding: 35px;
  box-shadow: 10px 10px;
  width: 300px;
  text-align: center;
  font-size: 44px;
  color: black;
  background-color: #C41230;
  font-weight: bold;
}

.page-subtitles {
  margin: auto;
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  background-color: #C41230;
  border-style: double;
  border-color: black;
  width: 275px;
  display: flex;
  justify-content: center;
}

/* Home CSS */

.home-container {
  display: flex;
  justify-content: center;
}

.story {
  text-align: center;
  margin: auto;
  border-style: solid;
  border-color: black;
  width: 70%;
  box-shadow: 10px 10px;
  /* background-color: #dad4c6; */
  background-color: lightgray;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.home-text {
  font-weight: bold;
}

.image-container {
  width: 75%;
  height: 450px;
  justify-content: center;
  display: flex;
  padding-bottom: 50px;
}

.testing {
  
}

/* Menu */

.menu-container {
  border-style: solid;
  border-color: black;
  margin: auto;
  width: 80%;
  margin-bottom: 50px;
  box-shadow: 10px 10px;
  color: black;
  background-color: lightgray;
}

.menu-container h2 {
  color: black;
}

.menu-flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
}

.menu-title-container {
  padding-top: 30px;
}

.menu-descriptions {

}

.menu-rows-container {
  margin-bottom: 50px;
  width: 70%;
  justify-content: center;
  margin: auto;
}

.row {
  margin: auto;
  width: 75%;
  content: '';
  display: table;
}

.column {
  width: 100%;

}

.drink-column {
  width: 100%;

}

.entree-items, .side-items, .drink-items {
  font-weight: bold;
}

hr {
  width: 90%;
}

/* Specials */

.specials {
  text-align: center;
  margin: auto;
  border-style: solid;
  border-color: black;
  width: 70%;
  box-shadow: 10px 10px;
  background-color: lightgray;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

/* Contact */

.contact-container {
  display: grid;
  margin: auto;
  width: 50%;
  padding-top: 25px;
  margin-bottom: 50px;
  border-style: solid;
  border-color: black;
  box-shadow: 10px 10px;
  background-color: lightgray;
}

.contact-text {
  font-size: 20px;
  display: grid;
  justify-content: center;
}

.contact-row h2 {
  justify-content: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.contact-column-one h2, p {
  color: black;
}

.map-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

iframe {
  display: flex;
  box-shadow: 10px 10px;
}

@media screen and (max-width: 660px) {
  body {
    height: 50%;
  }

  .main-container {
    margin-bottom: 50px;
  }

  .home-paragraph {

  }

  .menu-container {
    width: 98%;
  }

  .specials, .contact-container {
    width: 93%;
  }

  .column {
    display: grid;
    grid-template-columns: auto;
    padding-top: auto;
    padding: 15px;
  }

  .drink-column {
    padding: 5px;
  }

  .map-container {
    margin-bottom: 50px;
    width: 65%;
    margin: auto;
  }

  /* .image-container {
    height: 800px;
    width: 45%;
  } */
}